@font-face{

    font-family:PixelOperator;

    src:url("PixelOperator-Bold.ttf");

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:PixelOperator;

}

body{

    background:black;

    overflow:hidden;

}

/* ========================== */
/* GRAMA */
/* ========================== */

#grass{

    position:absolute;

    left:50%;

    top:45%;

    transform:translate(-50%,-50%);

    width:420px;

    image-rendering:pixelated;

    z-index:1;

}

/* ========================== */
/* CAIXA */
/* ========================== */

.textbox{

    position:absolute;

    left:50%;

    bottom:40px;

    transform:translateX(-50%);

    width:900px;

    height:220px;

    border:4px solid white;

    background:black;

    display:flex;

    align-items:flex-start;

    padding:25px;

    z-index:10;

}

/* ========================== */
/* SPRITE */
/* ========================== */

#sprite{

    width:110px;

    image-rendering:pixelated;

    margin-right:35px;

}

/* ========================== */
/* TEXTO */
/* ========================== */

.text-area{

    flex:1;

}

#text{

    color:white;

    font-size:42px;

    line-height:1.15;

    white-space:pre-wrap;

    width:650px;

    word-wrap:break-word;

}
