@font-face {
    font-family: "PixelOperator";
    src: url("PixelOperator-Bold.ttf") format("truetype");
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"PixelOperator", monospace;
}

body{
    background:black;
    overflow:hidden;
}

/* Caixa de diálogo */

.textbox{

    position:absolute;

    left:50%;
    bottom:40px;

    transform:translateX(-50%);

    width:900px;
    height:220px;

    border:4px solid white;
    background:black;

    padding:30px 40px;

}

/* Texto */

#text{

    color:white;

    font-size:48px;

    line-height:1.15;

    white-space:pre-wrap;

}

.star{

    margin-right:20px;

}
